<!DOCTYPE html>
<html>

<head>   
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar_styles.css' %}" type="text/css">
    <h4>
        <div class="section_top">
            <div style="padding-left: 1%;">
                <a href="/catalog">Catálogo de barcos</a>
            </div>
            <div style="padding-right: 1%;">
                {% if user.is_authenticated %}
                <div style="display: flex; flex-direction: row; align-items: center; gap: 15px;">
                    <a href="/home/cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <form action="{% url 'logout' %}" method="post" >
                        {% csrf_token %}
                        <button type="submit">Cerrar sesión</button>
                    </form>
                </div>
                {% else %}
                    <a href="/auth/login">Iniciar sesión</a>
                    <a href="/auth/signup">Registrarse</a>
                {% endif %}
            </div>
        </div>
    </h4>
</head>
<body>
    <div class="title_css">
    {% block title %}
    {% endblock %}
    </div>
    <div class="container">
        {% block main %}
        {% endblock %}

        <div class="section_bottom">
            <h2>BarcosTrujillo©️      ¡Hasta los pícaros de playa pueden alquilar!</h2>
        </div>
    </div>
</body>
</html>
