{% extends 'base_template.html' %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/add_ship.css' %}">
<body class ="add-ship"></body>
<div class="container-add-ship">
    <div class="add-ship-box">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <label for="name">Nombre del barco:</label>
            <input type="text" id="name" name="name" required>

            <label for="capacity">Capacidad:</label>
            <input type="number" id="capacity" name="capacity" min="2" required>

            <label for="rent_per_day">Renta por día:</label>
            <input type="number" step="0.01" id="rent_per_day" name="rent_per_day" min="0" required>

            <label for="available">Disponible:</label>
            <input type="checkbox" id="available" name="available">

            <label for="need_license">Requiere licencia:</label>
            <input type="checkbox" id="need_license" name="need_license">

            <label for="description">Descripción:</label>
            <textarea id="description" name="description" maxlength="350" required></textarea>

            <label for="image">Imagen:</label>
            <input type="file" id="image" name="image" accept="image/*">

            <label for="port">Puerto:</label>
            <select id="port" name="port" required>
                <option value="">Selecciona un puerto</option>
                {% for port in ports %}
                <option value="{{ port.id }}">{{ port.ubication }}</option>
                {% endfor %}
            </select>

            <label for="quantity">Cantidad:</label>
            <input type="number" id="quantity" name="quantity" min="1" required>

            <button type="submit">Añadir Barco</button>
        </form>

        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
    </div>
</div>
</body>
{% endblock %}
