{% extends 'base_template.html' %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<body class="home-page-home">
    <div class="header-home-home">
        <h1>Bienvenido a NavegaTrujillo, tu alquiler en un momentillo!</h1>
        <h2>Esta es nuestra selección de barcos</h2>
        <form method="get" action="/catalog/results/">
            {{ filter.form.as_p }}
            {{ form }}
            <input type="submit" value="Filtrar"/>
        </form>
    </div>

    {% if ships %}
    <div class="body-list-home">
        <div class="card-home">
            <div class="card-body-home">
                <table class="table-catalogo-home">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Coste de alquiler por día</th>
                            <th>Capacidad</th>
                            <th>Disponibilidad</th>
                            <th>Puerto</th>
			    <th>Reservar para mañana</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ship in ships %}
                        <tr>
                            <td>
                                <a href="/catalog/ship/{{ ship.id }}">
                                    {{ ship.name }}
                                </a>
                            </td>
                            <td>{{ ship.rent_per_day }}</td>
                            <td>{{ ship.capacity }}</td>
                            <td class="data-column-home">{% if ship.available %} Disponible {% else %} No disponible {% endif %}</td>
                            <td>{{ ship.port.ubication }}</td>
                            {% if ship.image %}
                            <td><img src="{{ ship.image.url }}" alt="Barco" style="width: 150px; height: 100px;"></td>
                            {% else %}
                            <td>No existe imagen</td>
                            {% endif %}
			    <td><form action={% if request.user.is_authenticated %} "/reserva/{{ship.id}}" {% else %} "/catalog/ship/{{ship.id}}/reserva" {% endif %} method="post">
			{% csrf_token %}
			{% if request.user.is_authenticated and request.user.client.license_validated or not ship.need_license %} {{form_optional_captain}} {% else %} {{form_mandatory_captain}} {% endif %}
			<input type="Submit" value="Reservar">
				    </form></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    <div class="body-list-home">
        <div class="card-home">
            <div class="card-header-home">
                No se han encontrado barcos
            </div>
            <div class="card-body-home">
                <p class="card-text-home">
                    El escaparate no está disponible ahora mismo. Por favor, inténtelo más tarde.
                </p>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="footer-home-home">
        <h4>En la empresa NavegaTrujillo promovemos el mayor disfrute del mar mediante el alquiler de barcos desde 2007</h4>
        <h4>Puedes encontrarnos en los siguientes puertos:</h4>
        <div class="port-locations-home">
            {% for port in ports %}
            <h4>{{ port.ubication }}</h4>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
