{% extends 'base_template.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/reservas_admin.css' %}" type="text/css">
<body class="list-reservations">
<div class="container-list-reservations">
    <h1>Listado de Reservas</h1>

    <table class="reservations-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Estado</th>
                <th>Modificar a este estado</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation_id, reservation_state in reservation_states.items %}
            <tr>
                <td>{{ reservation_state.1 }}</td>
                <td>{{ reservation_state.0 }}</td>
                <td>
                    <form method="POST" action="{% url 'update_reservation_state' reservation_id=reservation_id %}" style="display: inline-block; margin-right: 10px;">
                        {% csrf_token %}
                        <input type="hidden" name="reservation_state" value="R">
                        <button type="submit">RESERVADO</button>
                    </form>
                    
                    <form method="POST" action="{% url 'update_reservation_state' reservation_id=reservation_id %}" style="display: inline-block; margin-right: 10px;">
                        {% csrf_token %}
                        <input type="hidden" name="reservation_state" value="P">
                        <button type="submit">RESERVADO_Y_PAGADO</button>
                    </form>
                    
                    <form method="POST" action="{% url 'update_reservation_state' reservation_id=reservation_id %}" style="display: inline-block; margin-right: 10px;">
                        {% csrf_token %}
                        <input type="hidden" name="reservation_state" value="C">
                        <button type="submit">CANCELADO</button>
                    </form>
                    
                    <form method="POST" action="{% url 'update_reservation_state' reservation_id=reservation_id %}" style="display: inline-block;">
                        {% csrf_token %}
                        <input type="hidden" name="reservation_state" value="A">
                        <button type="submit">YA_ALQUILADO</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
{% endblock %}
