{% extends 'base_template.html' %}
{% load static %}
{% block title %}
    
{% endblock %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/confirmation.css' %}">
    <body class="confirmation">
        <div class="container-confirmed">
            <div class="confirmation-message-box">
                    <h2>¡Enhorabuena!</h2>
                    <p>Tu reserva se ha realizado correctamente. Tu ID de seguimiento es:</p>
                    <p>{{ lookup_id }}</p>
                    <p>¡Procura guardarla bien!</p>
            </div>
        </div>
    </body>
{% endblock %}

