{% extends 'base_template.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/track_reservation.css' %}" type="text/css">
<body class="track-reservation">
<div class="container-track-reservation">
    <h1>Rastrear Reserva</h1>

    <!-- Formulario para ingresar el ID de seguimiento -->
    <form method="POST" class="track-reservation-form">
        {% csrf_token %}
        <label for="id_seguimiento">ID de Seguimiento:</label>
        <input type="text" id="id_seguimiento" name="id_seguimiento" required>
        <button type="submit">Buscar Estado</button>
    </form>

    <!-- Mostrar el estado de la reserva si está disponible -->
    {% if reservation_state %}
        <div class="reservation-status">
            <h2>Estado de la Reserva:</h2>
            <p>{{ reservation_state }}</p>
        </div>

        <table class="table-catalogo">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Coste de alquiler por día</th>
                    <th>Capacidad</th>
                    <th>Disponibilidad</th>
                    <th>Puerto</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                {% for ship in ships %}
                <tr>
                    <td>
                        {% if ship.available %}
                        <a href="/catalog/ship/{{ ship.id }}">
                            {{ ship.name }}
                        </a>
                        {% else %}
                        {{ ship.name }}
                        {% endif %}
                    </td>
                    <td>{{ ship.rent_per_day }}</td>
                    <td>{{ ship.capacity }}</td>
                    <td>{% if ship.available %} Disponible {% else %} No disponible {% endif %}</td>
                    <td>{{ ship.port.ubication }}</td>
                    {% if ship.image %}
                    <td><img src="{{ ship.image.url }}" alt="Barco"></td>
                    {% else %}
                    <td>No existe imagen</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
</body>
{% endblock %}
