{% extends "base_template.html" %}
{% load static %}
{% block title %}{% endblock %}

{% block main %}

<link rel="stylesheet" href="{% static 'css/catalog.css' %}" type="text/css">
<body class="catalog">
    <h1 class="h1_list">Barcos</h1>

    <form method="get" action="/catalog/results/">
        {{ filter.form.as_p }}
        {{ form }}
        <label for="puerto_id">Selecciona un puerto:</label>
                <select name="puerto_id" id="puerto_id" required>
                    {% for puerto in puertos %}
                        <option value="{{ puerto.id }}">{{ puerto.ubication }}</option>
                    {% endfor %}
                </select>
        <input type="submit" value="Filtrar"/>
    </form>

    {% if ships %}
    <div class="body_list">
        <div class="card">
            <div class="card-body">
                <table class="table_catalogo">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Coste de alquiler por día</th>
                            <th>Capacidad</th>
                            <th>Disponibilidad</th>
                            <th>Puerto</th>
                            <th>Imagen</th>
                            <th>Reservar para mañana</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ship in ships %}
                        <tr>
                            <td style="display: flex; justify-content: center; align-items: center;">
                                {% if ship.available %}
                                <a href="/catalog/ship/{{ ship.id }}">
                                    {{ ship.name }}
                                </a>
                                {% elif request.user.is_staff %}
                                <a href="/catalog/ship/{{ship.id}}">
                                    {{ ship.name }}
                                </a>
                                {% else %}
                                <a>
                                    {{ ship.name }}
                                </a>
                                {% endif %}
                            </td>
                            <td>{{ ship.rent_per_day }}</td>
                            <td>{{ ship.capacity }}</td>
                            <td class="data_column">{% if ship.available %} Disponible {% else %} No disponible {% endif %}</td>
                            <td>{{ ship.port.ubication }}</td>
                            <td>
                                {% if ship.image %}
                                <img src="{{ ship.image.url }}" alt="Barco" class="img_catalog">
                                {% else %}
                                <span>No existe imagen</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if ship.available %}
                                <form action={% if request.user.is_authenticated %} "/catalog/ship/{{ ship.id }}/reserva" {% else %} "/catalog/ship/{{ ship.id }}/reserva" {% endif %} method="post">
                                    {% csrf_token %}
                                    {% if request.user.is_authenticated and request.user.client.license_validated or not ship.need_license %}
                                    {{ form_optional_captain }}
                                    {% else %}
                                    {{ form_mandatory_captain }}
                                    {% endif %}
                                    <input type="submit" value="Reservar">
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    <div class="body_list">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">No se han encontrado barcos</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    La lista no existe ahora mismo. Por favor, inténtelo más tarde.
                </p>
                <a href="{{"../home"}}" class="btn-primary">
                    Volver al inicio
                </a>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
