{% extends 'base_template.html' %}

{% block title %} <h1>{{ship.name}}</h1> {% endblock %}

{% block main %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/show.css' %}" type="text/css">



<div class=" col-12">

	{% if request.user.is_staff and form %}
		<form action="" method="post">

			{% csrf_token %}
			{{ ship_form }}
			<input type="submit" value="Actualizar">
		</form>
	{% else %}
	<div class="card">

		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th class= "data_column">Disponibilidad</th>
						<th class= "data_column">Precio por día</th>
						<th class= "data_column">Capacidad máxima</th>
						<th class= "data_column">Necesitas licencia o capitán?</th>
						<th class= "data_column">Descripción</th>
					</tr>
				</thead>
				<tbody>
					<tr>	
						<td class= "data_column">{% if ship.available %} Disponible {% else %} No disponible {% endif %}</td>
						<td class= "data_column">{{ ship.rent_per_day }}</td>
						<td class= "data_column">{{ ship.capacity }}</td>
						<td class= "data_column">{% if ship.need_license %} Sí {% else %} No {% endif %}</td>
						<td class= "data_column">{{ ship.description }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<form action="reserva" method="post">
			{% csrf_token %}
			{{ reservation_form }}
			<input type="Submit" value="Reservar">
		</form>
	</div>
	<div> Placeholder imagen </div>
	{% endif %}
			
</div>

{% endblock %}


