@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


/* Estilos Generales */
body.catalog {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #a8edea, #fed6e3);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    color: #333;
    padding-top: 10px;
    overflow-y: auto;
    padding-bottom: 150px; /* Añadir espacio para la navbar inferior */
}


/* Estilo para centrar el mensaje */
.body_list {
    width: 95%; /* Ampliar para ocupar más espacio y que el contenedor abarque la tabla completa */
    max-width: 1300px;  /* Aumenté el tamaño máximo para asegurar que la tabla y el contenedor se ajusten correctamente */
    margin: 0 auto;
    text-align: center;
}


.h1_list {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin: 0 0 40px;
}


.card {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px; /* Aumentado para asegurar que toda la tabla esté contenida */
}


.card-header {
    background-color: #66a6ff;
    padding: 15px;
    border-radius: 15px 15px 0 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}


.card-body {
    padding: 20px;
}


.table_catalogo {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
}


.table_catalogo th,
.table_catalogo td {
    border: 1px solid #ddd;
    padding: 15px;
    font-size: 16px;
    vertical-align: middle;
    word-wrap: break-word;
    height: auto;
}


.table_catalogo th {
    background-color: #66a6ff;
    color: white;
    font-weight: 600;
    word-wrap: break-word;
}


.table_catalogo td {
    word-wrap: break-word;
    background-color: #f9f9f9;
    height: auto;
}


.table_catalogo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.table_catalogo tbody tr:hover {
    background-color: #f1f1f1;
}


.data_column {
    color: #28a745;
    font-weight: 600;
}


.card-text {
    font-size: 16px;
    color: #555;
    margin: 20px 0;
}


.btn-primary {
    background-color: #66a6ff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}


.btn-primary:hover {
    background-color: #4e89df;
}
