@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body.login-page {
    font-family: 'Poppins', sans-serif; 
    background: linear-gradient(135deg, #89f7fe, #66a6ff); 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333; 
}

.login-container-custom {
    background: #ffffff; 
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
    text-align: center;
    width: 380px;
}

h1-login-custom {
    font-size: 32px; 
    color: #333; 
    margin-bottom: 20px;
    font-weight: 600; 
    text-align: center;
}


.form-login-custom {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-login-custom input {
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-login-custom input:focus {
    border-color: #66a6ff; 
    outline: none;
    box-shadow: 0 0 8px rgba(102, 166, 255, 0.5); 
}

.button-login-custom {
    background-color: #66a6ff; 
    color: white;
    border: none;
    padding: 14px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button-login-custom:hover {
    background-color: #4e89df; 
    transform: scale(1.05); 
}

.footer-login-custom {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.footer-login-custom a {
    color: #66a6ff;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-login-custom a:hover {
    color: #4e89df; 
}

