@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@400;600&display=swap');

body.list-reservations {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #a8edea, #fed6e3);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: auto;
}

.container-list-reservations {
    flex: 1;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Permite el desplazamiento vertical */
    padding-bottom: 100px; /* Añadir un padding para que la parte inferior del contenido no sea cubierta */
}

/* título principal */
.container-list-reservations h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #333;
    margin-bottom: 30px;
}

/* Estilo de la tabla */
.reservations-table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    table-layout: fixed;
    margin-bottom: 80px;
}

/*celdas de la tabla */
.reservations-table th, .reservations-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* fila del encabezado */
.reservations-table th {
    background-color: #4a90e2;
    color: white;
    font-weight: bold;
}

/* Estilo para las filas impares */
.reservations-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/*botones de estado */
.reservations-table button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.reservations-table button:hover {
    background-color: #ff7675;
    transform: scale(1.05);
}
